html{
margin: auto;
text-align: center;
 text-decoration:none;
}
#corps{
  border:2px solid #f37120;
  border-radius:10px;
  text-align: center;
  padding: 6px;
  box-shadow:1px 1px 2px #ffffff inset;
  width: 70%;
  padding-top: 6px;
  margin: auto;
  box-shadow:4px 4px 4px gray,
-1px -1px 2px white;
}

#corps2{

  border-radius:10px;
  text-align: justify;
  padding: 6px;
  box-shadow:1px 1px 2px #ffffff inset;
  width: 99%;
  padding-top: 6px;
  margin: auto;
  box-shadow:4px 4px 4px gray,
  -1px -1px 2px white;
}


#code{
  text-align: center;
font-family: monospace;
  border-radius:10px;
  padding: 6px;
  box-shadow:1px 1px 2px #ffffff inset;
  width: 50%;
  padding-top: 6px;
  margin: auto;
  box-shadow:4px 4px 4px gray,
  -1px -1px 2px white;
  background-color: #D3D3D3;

}

.tableau{
  margin: auto;
  text-align: center;
}

body{
background-color: #f8f8f8;
 font-family: Georgia;
}


form {
margin: auto;
background-color:#f8f8f8;
padding:10px;
 }

fieldset{
padding:0 20px 20px 20px;
margin-bottom:10px;
border:1px solid #DF3F3F;
 }

legend {
 color:#DF3F3F;
 font-weight:bold
 }

label {
 margin-top:10px;
 display:block;
 }

hr {
	display: block;
	clear: both;
	height: 0;
	margin: 40px 0 80px;
	padding: 0;
	border: 0;
	font-family: arial;
	text-align: center;
	line-height: 1;
}
hr:after {
	content: "\273D \273D \273D";
	height: 0;
	letter-spacing: 1em;
	color: #f37120;
}


input, textarea, select, option {
 background-color:#ffffff;
 color: #f37120;

 }

input, textarea, select {
 padding:3px;
 border:2px solid #f37120;
 border-radius:10px;
 text-align: center;
 padding: 6px;
 box-shadow:1px 1px 2px #ffffff inset;
 }
 input2 {
  padding:3px;
  border:2px solid #f37120;
  border-radius:10px;
  padding: 6px;
  box-shadow:1px 1px 2px #ffffff inset;
  }
select {
 margin-top:10px;
 }

input[type=radio] {
background-color:transparent;
border:none;
 }

input[type=submit], input[type=reset] {
 text-align: center;
 margin-left:5px;
 box-shadow:1px 1px 1px #f37120;
 }

 h1
 {
 	color:#f37120;
  text-align: center;

  font-size: 30px;
 }

 h2
 {
   color:#f37120;
   text-align: center;

   font-size: 25px;
 }

 h3
 {
   color:#f37120;
   text-align: center;

   font-size: 20px;
 }

 h4
 {
   color:#f37120;
   text-align: center;

   font-size: 20px;
 }
h5
{
  color:#f37120;
  text-align: center;

  font-size: 20px;
}
 h6
 {
   color:#f37120;
   text-align: center;

   font-size: 20px;
 }

  a {  text-decoration:none; }

 table {
 border: medium solid #ffffff;
 border-collapse: collapse;
 margin: auto;
 width: 100%;
 text-align: center;
 box-shadow: 10px 10px 10px #cccccc ;
 color: #aaaaaa;
 }

 th {
 border: rounded solid #aaaaaa;
 width: 20%;
 color: #aaaaaa;
 }

 td {
 border: thin solid #aaaaaa;
 background-color: #ffffff;
 }



 header{
  margin: auto;
}

 footer {
	position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #f37120;
    text-align: right;
 }

.border { border-radius: 10px; }

/* #menu { box-shadow: 10px 10px 10px #cccccc ; }

 #menu , #menu  ul{
 padding:0;
 margin:0;
 list-style:none;
 text-align:center;
 background: #ffffff;
 }
 #menu  li{
 display:inline-block;
 position:relative;

 }
 #menu  ul li{
 display:inherit;
 border-radius:0;
 }
 #menu  ul li:hover{
 border-radius:0;
 }

 #menu  ul{
 position:absolute;
 z-index: 1000;
 max-height:0;
 left: 0;
 right: 0;
 overflow:hidden;
 -moz-transition: .8s all .3s;
 -webkit-transition: .8s all .3s;
 transition: .8s all .3s;
 background: #aaaaaa;
 }
 #menu  li:hover ul{
 max-height:15em;
 } */
 /* background des liens menus */
 /* #menu  li:first-child{
 background-color: #f37120;
 }
 #menu  li:nth-child(2){
 background-color: #f37120;
 }
 #menu  li:nth-child(3){
 background-color: #f37120;

 }
 #menu  li:last-child{
 background-color: #f37120;
 } */
 /* background des liens sous menus */
 /* #menu  li:first-child li{
 background: #aaaaaa;
 }
 #menu  li:nth-child(2) li{
 background: #aaaaaa;
 }
 #menu  li:nth-child(3) li{
 background: #aaaaaa;

 }
 #menu  li:last-child li{
 background:#aaaaaa;
 } */
 /* background des liens menus et sous menus au survol */
 /* #menu  li:first-child:hover, #menu  li:first-child li:hover{
 background:#f37120;

 }
 #menu  li:nth-child(2):hover, #menu  li:nth-child(2) li:hover{
 background:#f37120;
 }
 #menu  li:nth-child(3):hover, #menu  li:nth-child(3) li:hover{
 background:#f37120;
 }
 #menu  li:last-child:hover, #menu  li:last-child li:hover{
 background:#f37120;
 } */
 /* les a href */
 /* #menu  a{
 text-decoration:none;
 display:block;
 padding: 10px 32px;
 color:#fff;
 }

 #menu  li:hover li a{
 color:#fff;
 padding: auto;
 }
 #menu  li:hover a, #menu  li li:hover a{
 color:#000;
 box-shadow: 10px 10px 10px #cccccc ;
 } */





















/*
 #menu {
position: fixed;
 width: 180px;
 }

 #menu ul
 {
 margin:0;
 padding:0;
 list-style-type:none;
 font-family: Helvetica, Verdana, Arial, sans-serif;
 font-size: 15px;
 }

 #menu a
 {
 display:block;
 padding: 10px;
 width:150px;
 height:15px;
 color:#FFFFFF;
 text-decoration:none;
 background-color: #454545;
 border-bottom: 1px solid #000000;
 border-top: 1px solid #4C4C4C
 }

 #menu a:link, #menurubrique a:visited
 {
 color: #E6E6E6;
 text-decoration: none;
 }

 #menu a:hover
 {
 background-color: #7C7C7C;
 color: #FFFFFF;
 } */








  #menu-accordeon {
    position: fixed;
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     background-color:#729EBF;
     background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
     background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
     border-radius: 6px;
     margin-bottom:2px;
     box-shadow: 3px 3px 3px #999;
     border:solid 1px #333A40
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
  }

  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em
  }
  #menu-accordeon li:hover {
     background: #729EBF
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }
/*custom*/
#menu-accordeon li:hover li li{
  max-height: 0 !important;
}

  #menu-accordeon li li:hover li {
    max-height: 15em !important;
  }

  #menu-accordeon li  li li:hover {
     background: #999;
  }

  #menu-accordeon li li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     background: #444;
     box-shadow: none;
     border:none;
     margin:0
  }

  #menu-accordeon ul li li a, #menu-accordeon li li:hover li a {
    font-size:1em
  }
